<?xml version="1.0"?>
<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <humm_gateway>
                <model>HummPaymentGatewayFacade</model>
                <title>humm</title>
                <active>0</active> <!--Plugin disabled by default. The user must configure it first.-->
                <api_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <can_initialize>1</can_initialize> <!--Important: read Magento\Sales\Model\Order-->
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>0</can_authorize>
                <can_capture>0</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_authorize_vault>0</can_authorize_vault>
                <can_capture_vault>1</can_capture_vault>
                <can_use_internal>0</can_use_internal>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <can_void>0</can_void>
                <can_cancel>0</can_cancel>
                <can_edit>0</can_edit>
                <can_review_payment>1</can_review_payment>
                <can_deny_payment>1</can_deny_payment>
                <humm_conf>
                    <specificcountry>AU</specificcountry>
                    <min_order_total>20</min_order_total>
                    <force_humm>0</force_humm>
                    <is_testing>1</is_testing>
                    <automatic_invoice>1</automatic_invoice>
                    <sort_order>20</sort_order>
                    <payment_action>initialize</payment_action> <!--Important: read Magento\Sales\Model\Order-->
                    <little_big>2000</little_big>
                    <humm_logger>1</humm_logger>
                    <humm_approved_order_status>processing</humm_approved_order_status>
                    <pending_orders_timeout>2</pending_orders_timeout>
                    <pending_order>1</pending_order>
                </humm_conf>
                <humm_advert>
                    <homepage>
                        <banner>0</banner>
                        <homepageurl></homepageurl>
                    </homepage>
                    <productpage>
                        <banner>0</banner>
                        <widget>0</widget>
                    </productpage>
                    <cartpage>
                        <banner>0</banner>
                        <widget>0</widget>
                    </cartpage>
                </humm_advert>
            </humm_gateway>
        </payment>
    </default>
</config>
