<?xml version="1.0"?>
<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Payment Method Facade configuration -->
    <virtualType name="HummPaymentGatewayFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">Humm\HummPaymentGateway\Gateway\Config\Config::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Humm\HummPaymentGateway\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">HummPaymentGatewayValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">HummPaymentGatewayCommandPool</argument>
        </arguments>
    </virtualType>

    <type name="Humm\HummPaymentGateway\Helper\HummLogger">
        <arguments>
            <argument name="hummPaymentLogger" xsi:type="object">HummLogger</argument>
        </arguments>
    </type>


    <type name="Humm\HummPaymentGateway\Block\Error">
        <arguments>
            <argument name="config" xsi:type="object">Humm\HummPaymentGateway\Gateway\Config\Config</argument>
        </arguments>
    </type>

    <!-- Configuration reader -->
    <type name="Humm\HummPaymentGateway\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Humm\HummPaymentGateway\Gateway\Config\Config::CODE</argument>
        </arguments>
    </type>

    <!-- Commands infrastructure -->
    <virtualType name="HummPaymentGatewayCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="initialize" xsi:type="string">HummPaymentGatewayInitializeCommand</item>
                <item name="refund" xsi:type="string">HummPaymentGatewayRefundCommand</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Initialize command -->
    <virtualType name="HummPaymentGatewayInitializeCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">HummPaymentGatewayInitializationRequest</argument>
            <argument name="transferFactory" xsi:type="object">
                Humm\HummPaymentGateway\Gateway\Http\DummyTransferFactory
            </argument> <!-- [Payment/Model/Method/Adapter][executeCommand]ERROR!Cannot instantiate interface Magento\Payment\Gateway\Http\TransferFactoryInterface if empty -->
            <argument name="client" xsi:type="object">Humm\HummPaymentGateway\Gateway\Http\Client\DummyClient
            </argument> <!-- [Payment/Model/Method/Adapter][executeCommand]ERROR getting command!Cannot instantiate interface Magento\Payment\Gateway\Http\ClientInterface if empty-->
        </arguments>
    </virtualType>

    <!-- Refund command -->
    <virtualType name="HummPaymentGatewayRefundCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">HummPaymentGatewayRefundRequest</argument>
            <argument name="transferFactory" xsi:type="object">
                Humm\HummPaymentGateway\Gateway\Http\DummyTransferFactory
            </argument> <!-- [Payment/Model/Method/Adapter][executeCommand]ERROR!Cannot instantiate interface Magento\Payment\Gateway\Http\TransferFactoryInterface if empty -->
            <argument name="handler" xsi:type="object">Humm\HummPaymentGateway\Model\HummPayment</argument>
            <argument name="client" xsi:type="object">Humm\HummPaymentGateway\Gateway\Http\Client\RefundClient
            </argument> <!-- [Payment/Model/Method/Adapter][executeCommand]ERROR getting command!Cannot instantiate interface Magento\Payment\Gateway\Http\ClientInterface if empty-->
        </arguments>
    </virtualType>

    <!-- Initialization Request -->
    <virtualType name="HummPaymentGatewayInitializationRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="transaction" xsi:type="string">
                    Humm\HummPaymentGateway\Gateway\Request\InitializationRequest
                </item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Refund Request -->
    <virtualType name="HummPaymentGatewayRefundRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="transaction" xsi:type="string">Humm\HummPaymentGateway\Gateway\Request\RefundRequest</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Humm\HummPaymentGateway\Gateway\Request\InitializationRequest">
        <arguments>
            <argument name="config" xsi:type="object">Humm\HummPaymentGateway\Gateway\Config\Config</argument>
        </arguments>
    </type>

    <type name="Humm\HummPaymentGateway\Block\Advert\AbstractAdvert">
        <arguments>
            <argument name="config" xsi:type="object">Humm\HummPaymentGateway\Gateway\Config\Config</argument>
            <argument name="register" xsi:type="object">\Magento\Framework\Registry</argument>
            <argument name="hummLogger" xsi:type="object">Humm\HummPaymentGateway\Helper\HummLogger</argument>
        </arguments>
    </type>

    <!-- Value handlers infrastructure -->
    <virtualType name="HummPaymentGatewayValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">HummPaymentGatewayConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="HummPaymentGatewayConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">Humm\HummPaymentGateway\Gateway\Config\Config</argument>
        </arguments>
    </virtualType>

    <type name="Humm\HummPaymentGateway\Block\Info">
        <arguments>
            <argument name="config" xsi:type="object">Humm\HummPaymentGateway\Gateway\Config\Config</argument>
        </arguments>
    </type>

    <type name="\Magento\Sales\Model\Order\Email\Sender\OrderSender">
        <plugin name="Humm-OrderSender-Plugin" type="Humm\HummPaymentGateway\Plugin\OrderSenderPlugin"/>
    </type>

    <virtualType name="HummLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="debug" xsi:type="object">Humm\HummPaymentGateway\Logger\HummPaymentHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Humm_HummPaymentGateway\Model\Observer\CheckState">
        <arguments>
            <argument name="hummLogger" xsi:type="object">Humm\HummPaymentGateway\Helper\HummLogger</argument>
        </arguments>
    </type>
</config>
