<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="humm_gateway" translate="label" sortOrder="100" type="text" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>
                    <![CDATA[<div class="humm-payment-logo">
                             </div>
                    <div class="humm-payment-byline">The convenient, trusted way to pay.<br/>Humm Payment </div>
                    ]]></label>
                <fieldset_css>complex humm-payment-section</fieldset_css>
                <frontend_model>Humm\HummPaymentGateway\Block\System\Config\Adminhtml\Fieldset\Payment</frontend_model>
                <field id="simplepath" type="text" translate="label comment" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <frontend_model>Humm\HummPaymentGateway\Block\System\Config\Form\SimplepathConfig</frontend_model>
                </field>
                <field id="active" translate="label" type="select" sortOrder="5" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <group id="humm_conf" translate="label" type="text" sortOrder="10" showInDefault="2" showInWebsite="1"
                       showInStore="1">
                    <label>Humm Payment Configration</label>

                    <field id="merchant_number" translate="label" type="text" sortOrder="50" showInDefault="1"
                           showInWebsite="1" showInStore="0">
                        <label>Merchant Number</label>
                        <validate>required-entry</validate>
                    </field>
                    <field id="api_key" translate="label" type="obscure" sortOrder="60" showInDefault="1"
                           showInWebsite="1" showInStore="0">
                        <label>API Key</label>
                        <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                        <validate>required-entry</validate>
                    </field>
                    <field id="is_testing" translate="label" type="select" sortOrder="65" showInDefault="1"
                           showInWebsite="1" showInStore="0">
                        <label>Is Testing?</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="force_humm" translate="label" type="select" sortOrder="68" showInDefault="1"
                           showInWebsite="1" showInStore="0">
                        <label>Force humm</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <tooltip>You will switch to humm if this is set to 'yes' and the store is in Australia.
                            Otherwise you will be automatically switched over on the official humm launch date
                        </tooltip>
                    </field>
                    <field id="gateway_url" translate="label" type="text" sortOrder="70" showInDefault="1"
                           showInWebsite="1" showInStore="0">
                        <label>Humm Gateway URL (Leave empty if not sure)</label>
                    </field>
                    <field id="specificcountry" translate="label" type="select" sortOrder="90" showInDefault="1"
                           showInWebsite="1" showInStore="0">
                        <label>Payment from Specific Country</label>
                        <source_model>Humm\HummPaymentGateway\Model\Config\Source\RestrictedCountry</source_model>
                    </field>
                    <field id="humm_approved_order_status" translate="label" type="select" sortOrder="100"
                           showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Status for humm Approved Orders</label>
                        <source_model>Magento\Sales\Model\Config\Source\Order\Status\Processing</source_model>
                        <tooltip>Select ‘Humm Processed’ if you want to easily locate all Humm transactions in the
                            Orders page.
                        </tooltip>
                        <validate>required-entry</validate>
                    </field>
                    <field id="automatic_invoice" translate="label" type="select" sortOrder="110" showInDefault="1"
                           showInWebsite="1" showInStore="0">
                        <label>Automatic Invoice (for refunding, must be enabled)</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <tooltip>If disabled, online refunding in Magento with Humm will not be possible.</tooltip>
                    </field>
                    <field id="email_customer" translate="label" type="select" sortOrder="120" showInDefault="1"
                           showInWebsite="1" showInStore="0">
                        <label>Email Customer</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="humm_logger" translate="label" type="select" sortOrder="130" showInDefault="1"
                           showInWebsite="1" showInStore="0">
                        <label>Humm Payment Log </label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="min_order_total" translate="label" type="text" sortOrder="4" showInDefault="1"
                           showInWebsite="1" showInStore="0">
                        <label>Minimum Order Value</label>
                    </field>
                    <field id="little_big" translate="label" type="text" sortOrder="3" showInDefault="1"
                           showInWebsite="1" showInStore="0">
                        <label>little Big Indentify Value</label>
                        <frontend_class>validate-number</frontend_class>
                    </field>
                    <field id="sort_order" translate="label" type="text" sortOrder="3" showInDefault="1"
                           showInWebsite="1" showInStore="0">
                        <label>Sort Order</label>
                        <frontend_class>validate-number</frontend_class>
                    </field>
                </group>
                <group id="humm_advert" translate="label" type="text" sortOrder="20" showInDefault="2" showInWebsite="1"
                       showInStore="1">
                    <label>Marketing Banners Widgets</label>
                    <group id="homepage" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1"
                           showInStore="1">
                        <label>Home Page</label>
                        <field id="banner" translate="label" type="select" sortOrder="1" showInDefault="1"
                               showInWebsite="1" showInStore="1">
                            <label>Display Strip Banner</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        </field>
                        <field id="homepageurl" translate="label" type="text" sortOrder="50" showInDefault="1"
                               showInWebsite="1" showInStore="0">
                            <label>Custom Home Page URL</label>
                        </field>
                    </group>
                    <group id="productpage" translate="label" type="text" sortOrder="2" showInDefault="1"
                           showInWebsite="1" showInStore="1">
                        <label>Product Page</label>
                        <field id="banner" translate="label" type="select" sortOrder="1" showInDefault="1"
                               showInWebsite="1" showInStore="1">
                            <label>Display Strip Banner</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        </field>
                        <field id="widget" translate="label" type="select" sortOrder="2" showInDefault="1"
                               showInWebsite="1" showInStore="1">
                            <label>Display Widget</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        </field>
                    </group>
                    <group id="cartpage" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1"
                           showInStore="1">
                        <label>Cart Page</label>
                        <field id="banner" translate="label" type="select" sortOrder="1" showInDefault="1"
                               showInWebsite="1" showInStore="1">
                            <label>Display Strip Banner</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        </field>
                        <field id="widget" translate="label" type="select" sortOrder="2" showInDefault="1"
                               showInWebsite="1" showInStore="1">
                            <label>Display Widget</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        </field>
                    </group>
                </group>
            </group>
        </section>
    </system>
</config>

